.aboutSection {
    width: 100vw;
    height:70vh;
    background-color: white;
    margin:auto;
    border:1px solid black;

  }

  
.aboutSection > div {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}