.aboutSection {
    width: 100vw;
    height:70vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;

  }
  
.aboutSection > div {
    display:flex;
    flex-direction: column;
}