.aboutSection {
    width: 100vw;
    height:70vh;
    background-color: white;
    margin:auto;
    margin-top:10%;
    text-align: center;
  }
.aboutSection > h1 {
  font-size: 32px;
}

.aboutSection > div {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
